.formWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  max-width: 40rem;
  .fieldWrapper {
    &[data-style="disabled"] {
      * {
        cursor: not-allowed;
      }
      label {
        color: var(--color-gray-M);
      }
      > div {
        background-color: var(--color-gray-XL);
      }
    }
  }
}
